<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>username</th>
        <th>password</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>

      <tbody>
        {{#each user}}  
          <tr>
            <td>{{username}}</td>
            <td>{{password}}</td>
            <td><a href="/course/delete?id={{_id}}">Delete</a></td>
            <td><a href="/update?id={{_id}}">Update</a></td>
          </tr>
        {{/each}}
      </tbody>
  </table>
</body>
</html>