<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<body>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none ; background-color: gray" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>
  
  <div class="w3-bar w3-gray">
  {{!-- <div class="w3-bar-item w3-hover-red">London</div>
  <div class="w3-bar-item w3-hover-green">Paris</div>
  <div class="w3-bar-item w3-hover-blue">Tokyo</div> --}}

  <a href="#" class="w3-bar-item w3-button">Detail</a>
  <a href="/file/dieukhoan" class="w3-bar-item w3-button">uploadfile</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
</div>

<div id="main">

<div class="" style="background-color: #4B4644; color : white" >
  <button id="openNav" class="w3-button  w3-xlarge" style="background-color: #4B4644;"  onclick="w3_open()">&#9776;</button>
  <div class="w3-container"style="background-color: #4B4644;">
    <h1>My Page</h1>
  </div>
</div>

<div class="w3-container">

</div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>


</body>
</html>
