<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Javascript Example</title>
    </head>
    <body>
        <form action ="/file/abc" method="post" name="">
        {{#each data}}
        <input type="text" value="{{slug}}" name = "slug"> 
        <input type="checkbox" name="hobby" value="{{filePath}}"/> <label>{{nameFile}}</label> <br/>
            <br/> <br/>
        {{/each}} 
        <input type="submit" id="btn" value="Xem kết quả"/>
        </form>
    </body>
</html>